<% provide(:title, 'Help') %>

<div class="container">
	<h1>Help</h1>
	<p>
	  Get help on the StepUp Demo at the
	  <a href="http://www.example.com/help">StepUp help page</a>.
	</p>

	<%= render 'layouts/footer' %>
</div>
