<% provide(:title, 'Home') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tammy Orr">
    <link rel="icon" href="../../favicon.ico">

    <title>StepUp Demo | <%= yield(:title) %></title>
  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!--h1>Top Vacancies</h1-->
        <p>The map will be displayed in this gray area.</p>
        <!--p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p-->
        <ul class="list-group pull-left small">
           <a href="#" class="list-group-item active small">
             Top Vacancies
           </a>
           <li class="list-group-item small">1 Row1</li>
           <li class="list-group-item small">2 Row2</li>
           <li class="list-group-item small">3 Row3</li>
        </ul>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <!-- h2>Browse Vacancies</h2-->
          <!-- p>(Will display vacancy search)</p-->
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Browse Vacancies</a></p>
        </div>
        <div class="col-md-4">
          <!-- h2>Browse Volunteers</h2-->
          <!-- p>(Will display volunteer search)</p-->
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Browse Volunteers</a></p>
       </div>
        <div class="col-md-4">
          <!-- h2>More Info</h2-->
          <!-- p>Will display safety tips etc.</p-->
          <p><a class="btn btn-primary btn-lg" href="#" role="button">More Info</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; StepUp 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>