<!--Makes a group of checkboxes in a well for filtering-->
<!-- Requires parameter groups: array of strings-->
<!-- Parameter outer-class: determines outer div classes-->

<div class="<%= outer_class %>">
  <div class="control-group">
    <div class="controls span6">
      <% groups.each do |group| %>
        <%= render 'shared/make_checkbox', text: group, input_field_name: input_field_name, checked_values: checked_values %>
      <% end %>
    </div><!-- /controls -->
  </div><!-- /control-group -->
</div><!-- /boxes-select -->
