<!-- Render checkbox with given text-->
<label class="checkbox">
  <input type="checkbox" id="inlineCheckbox" value='<%= text %>' name='<%= input_field_name %>'>
  <span class="boxes-select-label"> <%= text %> </span>
</label>
