<footer class="footer">
  <p>&copy; StepUp 2014</p>
  <small>
    <a href="http://www.example.com/">StepUp Demo</a>
    by Tammy Orr, Ivan Mani, and Charlotte Fisher
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://www.example.com/">News</a></li>
    </ul>
  </nav>
</footer>